* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Arial', sans-serif;
    font-family: Arial, Sarif;
    font-size: 14px;
    background-color: #ededed;
}

.file-area {
    display: block;
    cursor: pointer;
    text-align: center;
    padding: 8px;
    border: 1px dashed #cdcdcd;
    margin-bottom: 20px;
    border-radius: 6px;
    font-size: 18px;
    color: #333;
    background-color: #f5f5f5;
}

.buttons-grid {
    /* display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px; */
    display: flex;
    align-items: center;
}

.button {
    display: inline-block;
    border-radius: 6px;
    color: #333;
    background-color: #f5f5f5;
    padding: 8px;
    border: 1px solid #cdcdcd;
    text-align: center;
    cursor: pointer;
    margin-righT: 20px;
}

.flex-row {
    display: flex;
}

.viewer-window {
    position: relative;
    width: 100vw;
    heighT: 100vh;
}

.canvas-container,
.user-interface {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    heighT: 100%;
}

.canvas-container canvas {
    width: 100%;
    heighT: 100%;
}

.user-input-bl {
    padding: 20px;
}

.dropdown {
    position: relative;
    min-width: 130px;
}

.dropdown-list {
    border-radius: 3px;
    position: absolute;
    min-width: 100%;
    left: 0;
    top: calc(100% + 8px);
    background-color: #f5f5f5;
    padding: 4px 0;
    border: 1px solid #cdcdcd;
    text-align: left;
}

.dropdown-option {
    padding: 4px 8px;
    font-weight: bold;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}

.dropdown-option:hover {
    background: #5798E0;
}